<div id="home-cover">
    <div class="row">
      <div class="col-sm-7" style="padding-top:10%; padding-left:5%">
        <h1 style="color: white">StudyZen</h1>
        <h3 style="color: white; font-weight: normal">StudyZen is a free app that tells you how long you should study, based on neuroscience. Tell us what subject you're studying and when your text is. We'll tell you how long you should study and put reminders on your Google Calendar. It's free!</h3>
      </div>
      <div class="row-sm-5" style="padding-top:10%; padding-right:5%">
        <p>screenshot goes here</p>
      </div>
    </div>
    <div class="overlay"></div>
</div>
