<div id="h">
  <div class="container" id="home-cover">
    <div class="row-lg-8 pull-left">
      <h2>StudyZen</h2>
      <p>Find me in app/views/home/about.html.erb</p>
    </div>
    <div class="row-lg-4 pull-right">
      <p>copy goes here</p>
    </div>
  </div>
</div>
